.rss-reader {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: space-around;

    .title {
        text-align: center;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .button {
            background: lightgrey;
            padding: 10px;
            border-radius: 10px;
            text-align: center;
            margin: 2vw;
        }

        .search-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            input {
                width: 60%;
                text-align: center;
                font-size: 1.5vw;
                margin: auto;
            }
        }

        .error {
            color: red;
            padding-bottom: 4vw;
        }

        .description {
            padding-bottom: 2vw;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        .rss-results {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            .rss-block {
                display: flex;
                border-bottom: 1px solid lightgrey;
                margin-bottom: 1vh;
                border-radius: 1vh;
                padding: 1vh;

                -webkit-box-shadow: 7px 7px 25px -4px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 7px 7px 25px -4px rgba(0, 0, 0, 0.75);
                box-shadow: 7px 7px 25px -4px rgba(0, 0, 0, 0.75);

                .left {
                    display: flex;
                    img {
                        max-width: 200px;
                        object-fit: contain;
                    }
                }

                .right {
                    flex-grow: 1;
                    padding: 10px;
                    margin: auto;

                    .bottom {
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }
        .rss-bottom {
            width: 50%;
            .no-more-result {
                margin: 2vw;
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width: $medium-width) {
    body {
        font-size: 3vw;
    }
    .rss-reader {
        width: 95%;
        .content {
            .search-container {
                input {
                    font-size: 2.5vw;
                }
            }
            .rss-results {
                .rss-block {
                    margin-bottom: 2vh;
                    .left {
                        img {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $medium-width) and (max-width: $big-width) {
    body {
        font-size: 2vw;
    }
    .rss-reader {
        width: 95%;
        .content {
            .search-container {
                input {
                    font-size: 2.5vw;
                }
            }
            .rss-results {
                .rss-block {
                    margin-bottom: 2vh;
                }
            }
        }
    }
}

@media only screen and (min-width: $big-width) {
    body {
        font-size: 1.5vw;
    }
    .rss-reader {
        width: 80%;
        .content {
        }
    }
}
